# Node modules
node_modules/

# Build output
dist/
out/

# TypeScript declaration files
*.d.ts

# Logs
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo
*.swn
*.sublime-project
*.sublime-workspace

# Optional npm cache directory
.npm/

